.navbar,
.sidebar {
  border: none;
}

// ---[ SIDEBAR ]--- //
.sidebar-mask {
  z-index: 1; // bugs out on mobile
}

.sidebar {
  top: 0;
  padding-top: var(--navbar-height);
  z-index: 19;

  .navbar-item:nth-child(2) {
    display: none;
  }

  .navbar-items {
    border-bottom: none;
  }
}

// ---[ NAVBAR ]--- //
.navbar {
  background: none;

  &-item:nth-child(2) {
    display: none;
  }

  &-items-wrapper {
    @media screen and (max-width: 719px) {
      .sidebar-open & {
        display: none;
      }
    }
  }

  > span > a {
    display: inline-flex;
    align-items: center;

    .logo {
      width: 60px;
      height: 60px;

      @media screen and (max-width: 719px) {
        display: none;
        z-index: 1;
      }
    }

    .site-name {
      font-size: 16px;
      font-weight: 500;

      &.can-hide {
        display: block;
        text-align: center;
        font-size: 18px;
        padding-top: 3px;
        width: auto;

        .sidebar-open & {
          display: none;
        }
      }
    }
  }

  .external-link[href*=github] {
    visibility: hidden;
    user-select: none;
    pointer-events: none;
  }

  .toggle-sidebar-button {
    top: 2em;
    left: 1.5em;

    .sidebar-open & {
      transition: transform var(--t-transform);
      transform: translateX(200px);
    }
  }

  @media screen and (max-width: 719px) {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

.search-box {
  order: 2;
}
.toggle-dark-button {
  order: 3;
  margin-left: 0.5em;
}

.search-box[role="search"] {
  input {
    width: 300px;
  }
}

@media screen and (max-width: 719px) {
  .search-box[role="search"] {
    input {
      width: 32px;

      &:focus {
        width: 300px;
      }
    }
  }
}

// ---[ PAGE NAV ]--- //
.page-nav {
  .next a,
  .prev a {
    color: $pink;
  }
}
