.navbar,
.sidebar {
  border: none;
}

// ---[ SIDEBAR ]--- //
.sidebar-mask {
  z-index: 1; // bugs out on mobile
}

.sidebar {
  top: 0;
  padding-top: var(--navbar-height);
  z-index: 21;

  .navbar-item:nth-child(2) {
    display: none;
  }

  .navbar-items {
    display: none;
  }
}

// ---[ NAVBAR ]--- //
.navbar {
  background: none;

  &-item:nth-child(2) {
    display: none;
  }

  &-items-wrapper {
    @media screen and (max-width: 719px) {
      .sidebar-open & {
        display: none;
      }
    }
  }

  > span {
    display: none;
    align-items: center;

    @media screen and (max-width: 719px) {
      display: inline-flex;
    }

    .site-name {
      font-size: 16px;
      font-weight: 500;
      text-align: center;

      .sidebar-open & {
        display: none;
      }
    }
  }

  .external-link[href*=github] {
    visibility: hidden;
    user-select: none;
    pointer-events: none;
  }

  .toggle-sidebar-button {
    top: 2em;
    left: 1.5em;

    .sidebar-open & {
      display: none;
      transition: transform var(--t-transform);
      transform: translate(256px, -20px);
      background: var(--c-bg-sidebar);
      border-radius: 50%;
    }
  }

  @media screen and (max-width: 719px) {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

.search-box {
  order: 2;
}
.toggle-dark-button {
  order: 3;
  margin-left: 0.5em;
}

.search-box[role="search"] {
  input {
    width: 300px;
  }
}

@media screen and (max-width: 719px) {
  .search-box[role="search"] {
    input {
      width: 32px;

      &:focus {
        width: 300px;
      }
    }
  }
}

// ---[ PAGE NAV ]--- //
.page-nav {
  .next a,
  .prev a {
    color: $pink;
  }
}
