/* ===[ Custom containers ]=== */
.gsf-flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 1em;

  > * {
    flex: 1 1 calc(100% / var(--item-total));
    align-self: flex-start;

    &:not(:last-child) {
      padding-right: 1em;
    }

    > blockquote:first-child {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;

    > * {
      flex: 1 0 100%;

      &:not(ol):not(ul) {
        margin: auto;
      }

      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }
}

.simple-table {
  td,
  tr {
    border-top: none;
    border-bottom: none;
  }

  td {
    padding: 0.25em 1em;
  }

  tr:first-child td {
    padding-top: 0.75em;
  }

  tr:last-child td {
    padding-bottom: 0.75em;
  }

  tr:last-child {
    border-bottom: 1px solid var(--c-border-dark);
  }
}
