@import "./vars";

// https://v2.vuepress.vuejs.org/reference/default-theme/styles.html#palette-file

:root {
  // ---[ BRAND COLORS ]--- //
  --c-brand: #{$purple};
  --c-brand-light: #{$blue};
  --gsf-blue: #{$blue};
  --gsf-blue-light: #{$secondary};
  --gsf-purple: #{$purple};
  --gsf-purple-light: #8368f0;

  // ---[ BACKGROUND COLORS ]--- //
  --c-bg: #fff;
  --c-bg-lightest: #f8f8f8;
  --c-bg-lighter: #{grey-light};
  --c-bg-light: #d9e1e4;
  --c-bg-navbar: #eff6ff;
  --c-bg-sidebar: #eff6ff;

  // --c-bg-arrow: #ccc;
  --gsf-gradient-bg:
    linear-gradient(
      160deg,
      rgb(51 112 234 / 30%) 33.39%,
      rgb(213 79 240 / 30%) 87.4%
    );
  --gsf-purple-gradient-bg:
    linear-gradient(
      to right,
      #{rgba($purple, 0.25)},
      #{rgba($purple, 0)} 75%
    );
  --gsf-sidebar-item-hover: #c9deff;

  // ---[ TEXT COLORS ]--- //
  --c-text: #2c3e50;
  --gsf-text-stark: #000;

  // --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;

  // --c-text-lighter: #4e6e8e;
  // --c-text-lightest: #6a8bad;
  --c-text-quote: #999;

  // ---[ BORDER COLORS ]--- //
  // --c-border: #eaecef;
  // --c-border-dark: #dfe2e5;

  // ---[ CUSTOM CONTAINER COLORS ]--- //
  // --c-tip: #42b983;
  // --c-tip-bg: var(--c-bg-light);
  // --c-tip-title: var(--c-text);
  // --c-tip-text: var(--c-text);
  // --c-tip-text-accent: var(--c-text-accent);
  // --c-warning: #e7c000;
  // --c-warning-bg: #fffae3;
  // --c-warning-title: #ad9000;
  // --c-warning-text: #746000;
  // --c-warning-text-accent: var(--c-text);
  // --c-danger: #cc0000;
  // --c-danger-bg: #ffe0e0;
  // --c-danger-title: #990000;
  // --c-danger-text: #660000;
  // --c-danger-text-accent: var(--c-text);
  // --c-details-bg: #eeeeee;

  // ---[ BADGE COMPONENT ]--- //
  // --c-badge-tip: var(--c-tip);
  // --c-badge-warning: var(--c-warning);
  // --c-badge-danger: var(--c-danger);

  // ---[ CODE BLOCKS ]--- //
  // --code-bg-color: #282c34;
  // --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  // --code-ln-color: #9e9e9e;
  // --code-ln-wrapper-width: 3.5rem;

  // ---[ TRANSITION VARS ]--- //
  // --t-color: 0.3s ease;
  // --t-transform: 0.3s ease;

  // ---[ PLUGIN: BACK-TO-TOP ]--- //
  // .back-to-top {
  //   --back-to-top-color: var(--c-brand);
  //   --back-to-top-color-hover: var(--c-brand-light);
  // }

  // ---[ PLUGIN: DOCSEARCH ]--- //
  // .DocSearch {
  //   --docsearch-primary-color: var(--c-brand);
  //   --docsearch-text-color: var(--c-text);
  //   --docsearch-highlight-color: var(--c-brand);
  //   --docsearch-muted-color: var(--c-text-quote);
  //   --docsearch-container-background: rgba(9, 10, 17, 0.8);
  //   --docsearch-modal-background: var(--c-bg-light);
  //   --docsearch-searchbox-background: var(--c-bg-lighter);
  //   --docsearch-searchbox-focus-background: var(--c-bg);
  //   --docsearch-searchbox-shadow: inset 0 0 0 2px var(--c-brand);
  //   --docsearch-hit-color: var(--c-text-light);
  //   --docsearch-hit-active-color: var(--c-bg);
  //   --docsearch-hit-background: var(--c-bg);
  //   --docsearch-hit-shadow: 0 1px 3px 0 var(--c-border-dark);
  //   --docsearch-footer-background: var(--c-bg);
  // }

  // ---[ PLUGIN: EXTERNAL-LINK-ICON ]--- //
  // .external-link-icon {
  //   --external-link-icon-color: var(--c-text-quote);
  // }

  // ---[ PLUGIN: MEDIUM-ZOOM ]--- //
  // .medium-zoom-overlay {
  //   --medium-zoom-bg-color: var(--c-bg);
  // }

  // ---[ PLUGIN: NPROGRESS ]--- //
  // #nprogress {
  //   --nprogress-color: var(--c-brand);
  // }

  // ---[ PLUGIN: PWA-POPUP ]--- //
  // .pwa-popup {
  //   --pwa-popup-text-color: var(--c-text);
  //   --pwa-popup-bg-color: var(--c-bg);
  //   --pwa-popup-border-color: var(--c-brand);
  //   --pwa-popup-shadow: 0 4px 16px var(--c-brand);
  //   --pwa-popup-btn-text-color: var(--c-bg);
  //   --pwa-popup-btn-bg-color: var(--c-brand);
  //   --pwa-popup-btn-hover-bg-color: var(--c-brand-light);
  // }

  // ---[ PLUGIN: SEARCH ]--- //
  // .search-box {
  //   --search-bg-color: var(--c-bg);
  //   --search-accent-color: var(--c-brand);
  //   --search-text-color: var(--c-text);
  //   --search-border-color: var(--c-border);
  //   --search-item-text-color: var(--c-text-lighter);
  //   --search-item-focus-bg-color: var(--c-bg-light);
  // }
}
