@font-face { /* ----------------------------100 -- thin- ----- */
  font-family: Roboto;
  font-weight: 100;
  src: url("@styles/fonts/Roboto-Thin.ttf");
}

@font-face { /* --------------------------- 300 -- light ----- */
  font-family: Roboto;
  font-weight: 300;
  src: url("@styles/fonts/Roboto-Light.ttf");
}

@font-face { /* --------------------------- 400 -- normal ---- */
  font-family: Roboto;
  font-weight: 400;
  src: url("@styles/fonts/Roboto-Regular.ttf");
}

@font-face { /* --------------------------- 500 -- medium ---- */
  font-family: Roboto;
  font-weight: 500;
  src: url("@styles/fonts/Roboto-Medium.ttf");
}

@font-face { /* --------------------------- 600 -- bold ------ */
  font-family: Roboto;
  font-weight: 600;
  src: url("@styles/fonts/Roboto-Bold.ttf");
}

*,
*::before,
*::after {
  font-family: Roboto, Arial, sans-serif;
}

a.external-link.external-link.external-link {
  color: $blue;

  &:hover {
    color: $blue-light;
  }
}

h1 {
  z-index: 6;
  background: linear-gradient(140deg, $blue 1em, $pink 4em);
  background-clip: text;
  color: rgba($purple, 1);
  font-size: 40px;
  font-weight: 300;
  -webkit-text-fill-color: transparent;

  &:not(#main-title)::after {
    content: "";
    display: block;
    height: 2px;
    background: linear-gradient(160deg, $blue 15%, $pink 65%);
  }

  &#main-title {
    background: linear-gradient(150deg, $blue 35%, $pink 65%);
    background-clip: text;
    text-align: center;
  }
}

h2 {
  z-index: 5;
  color: rgba($purple, 0.9);
}

h3 {
  z-index: 4;
  color: rgba($purple, 0.8);
}

h4 {
  z-index: 3;
  color: rgba($purple, 0.75);
}

h5 {
  z-index: 2;
  color: rgba($purple, 0.7);
}

h6 {
  z-index: 1;
  color: rgba($purple, 0.65);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 1.5em 0 1em !important;
  padding: 0 !important;
  border-bottom: none;
  color: $purple;

  &:first-child {
    margin-top: 0 !important;
  }

  a.header-anchor {
    position: absolute;
    width: 100%;
    float: unset;
  }
}
