$blue-lighter:  #e8f1fd;
$blue-light:    #96BEFF;
$blue:          #3370EA;
$dark-blue:     #161623;
$darkest:       #111;
$error:         #CB2431;
$pink-light:    #D3B0FF;
$pink:          #D54FF0;
$primary:       #00BFFF;
$secondary:     #1E90FF;
$success-bright:#00FF00;
$success:       #068E24;
$warning:       #FAA930;
