$blue-dark: #161623;
$blue-light: #96beff;
$blue-lighter: #eff6ff;
$blue: #3370ea;
$dark-dimmed-bg-tertiary: #2d333b;
$dark-dimmed-text: #768390;
$disabled: #567492;
$error: #cb2431;
$gh-search-text: #586069;
$grey-dark: #2b2b2b;
$grey-darkest: #111;
$grey-light: #eee;
$grey-lightest: #fafbfc;
$grey-mid: #444d56;
$pink-dark: #a427bd;
$pink-light: #d3b0ff;
$pink: #d54ff0;
$primary: #00bfff;
$purple: #7355ea;
$secondary: #1e90ff;
$success-bright: #0f0;
$success: #068e24;
$warning: #faa930;

// gradients
$gradient-border: linear-gradient(105deg, $blue 50%, $pink 75%) 1;
$gradient-fade-bottom: linear-gradient(to top, rgb(#000, 0), rgb(#000, 1));
