@import "lightMode";
@import "darkMode";

// https://v2.vuepress.vuejs.org/reference/default-theme/styles.html#palette-file

:root {
  // ---[ TYPOGRAPHY VARS ]--- //
  /* stylelint-disable-next-line value-keyword-case */
  --font-family: Roboto, Arial, sans-serif;

  // --font-family-code:
  //   Consolas, Monaco,
  //   'Andale Mono',
  //   'Ubuntu Mono',
  //   monospace;

  // ---[ LAYOUT VARS ]--- //
  --navbar-height: 100px;

  // --navbar-padding-v: 0.7rem;
  // --navbar-padding-h: 1.5rem;
  --sidebar-width: 300px;
  --sidebar-width-mobile: 300px;

  // --content-width: 740px;
  // --homepage-width: 960px;
}
